@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: #201f1e;
  --color-tertiary: #94a3b8;
  --color-accent: #fe8012;
  --font-sans: var(--font-lexended-deca);
  --font-mono: var(--font-lexended-deca);
  --width-site-wide: 1480px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexended-deca), Helvetica, sans-serif;
}

.max-w-site {
  max-width: var(--width-site-wide);
}
